.wrapper {

    text-align: center;
    background-color: #f3f3f3;

}
.primary-title {
    color: #3498DB;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.secondary-title {
    color: #22244d;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 32px;
    font-weight: 400;
    padding-top: 6%;

}
@media screen and (max-width: 990px) {
    .clogo {
        width: 50% !important;
        padding: 8%;
    }
    .content {
        padding-left: 13% !important;
        padding-right: 13% !important;
    }
  }

body{
    font-family: 'Poppins', sans-serif;
}

.clogo {
    height: 10%;
    width: 8%;
}
span.special-text {
font-weight: 700;

}
.content {
    color: #808080;
    font-size: 18px;
    padding-left: 21%;
    padding-top: 2%;
    padding-right: 21%;
    padding-bottom: 2%;
}

.logo-container {
    padding-bottom: 4%;
}


