.wrapper {

    text-align: center;
}
.primary-title {
    color: #3498DB;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.secondary-title {
    color: #22244d;
    font-size: 25px;
    color: #515656;
    margin-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;

}
@media screen and (max-width: 900px) {
    .clogo {
        height: 10%;
        width: 17% !important;
    }
  }

body{
    font-family: 'Poppins', sans-serif;
}

.clogo {
    height: 10%;
    width:8%
}
span.special-text {
    color: #3498DB;
    font-weight: 600;

}
.content {
    color: #808080;
    font-size: 18px;
    padding-left: 4%;
    padding-right: 4%;
}
